.yellow {
  color: $color-yellow;
}

.pink {
  color: $color-pink;
}

.orchid {
  color: $color-orchid;
}

.light-blue {
  color: $color-light-blue;
}

.dark-blue {
  color: $color-dark-blue;
}

.orange {
  color: $color-orange;
}
