@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

#social-dots {
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  li {
    border-radius: 5px;

    a {
      display: block;
      text-align: center;
      width: 50px;
      height: 50px;
      font-size: 50px;
      text-decoration: none;
    }
  }
}

#social-buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 480px;
  justify-content: space-between;

  li {
    border-radius: 10px;
  }

  a {
    display: block;
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    line-height: 50px;
  }
}

li:nth-child(1) {
  background-color: $color-twitter;
}

li:nth-child(2) {
  background-color: $color-pixiv;
}

li:nth-child(3) {
  background-color: $color-instagram;
}

a {
  color: #fff;
}
a:visited {
  color: #fff;
}
