h1 {
  font: 140px $font-stack--heading;
  margin-left: 80px;
}

#about {
  margin-left: 50px;

  p {
    font: 25px $font-stack--reading;
    width: 80%;
  }
}

#art {
  p {
    font-size: 20px;
    color: #ccc;
    text-align: center;
  }
}
