// color
$color-primary: #222;
$color-yellow: #f6e928;
$color-pink: #ff7eff;
$color-orchid: #b212e0;
$color-light-blue: #53ffff;
$color-orange: #ff894b;
$color-dark-blue: #0033da;

//media widths
$width-laptop: 960px;
$width-tablet: 720px;
$width-mobile: 400px;

//fonts
$font-stack--heading: 'Yellowtail', cursive;
$font-stack--reading: 'Quicksand', serif;
