@import 'variables';
@import 'color-classes';
@import 'text';
@import 'social';

html {
  background-color: #ccc;
  display: flex;
  justify-content: center;

}

body {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 1080px;
  background-color: $color-primary;
}

#art {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 45px;
  margin-bottom: 15px;

  div {
    height: 470px;
    margin-top: 10px;

    img {
      width: 300px;
    }
    p {
      width: 300px;
    }
  }
}


@media (max-width: $width-laptop) {
  #art {
    img {
    }

    div:nth-child(3n+1) {
      img {
      }
    }
    div:nth-child(3n+2) {
      img {
      }
    }
    div:nth-child(3n) {
      img {
      }
    }
  }
}

@media (max-width: $width-tablet) {
  #art {
    img {
    }

    div:nth-child(3n+1) {
      img {
      }
    }
    div:nth-child(3n+2) {
      img {
      }
    }
    div:nth-child(3n) {
      img {
      }
    }
  }
}

@media (max-width: $width-mobile) {
  #art {
    img {
    }

    div:nth-child(3n+1) {
      img {
      }
    }
    div:nth-child(3n+2) {
      img {
      }
    }
    div:nth-child(3n) {
      img {
      }
    }
  }
}
