@import 'variables';
@import 'color-classes';
@import 'text';
@import 'social';

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

html {
  background-color: #ccc;
  display: flex;
  justify-content: center;

}

body {
  margin: 15px;
  width: $body-width-full;
  background-color: $color-primary;
  border-radius: 20px;
}

#art {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 15px;

  div {
    height: 470px;
    margin: 10px;

    img {
      width: $img-width;
    }
    p {
      width: $img-width;
    }
  }
}


@media (max-width: $width-tablet) {
  body {
    margin: 15px;
    width: $body-width-tablet;
    background-color: $color-dark-blue;
    border-radius: 20px;
  }

  #art {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 15px;

    div {
      height: 470px;
      margin: 10px;

      img {
        width: $img-width;
      }
      p {
        width: $img-width;
      }
    }
  }
}

@media (max-width: $width-mobile) {
  body {
    margin: 15px;
    width: $body-width-mobile;
    background-color: $color-primary;
    border-radius: 20px;
  }

  #art {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 15px;

    div {
      height: 470px;
      margin: 10px;

      img {
        width: $img-width;
      }
      p {
        width: $img-width;
      }
    }
  }

  h1 {
    font-size: 60px;
    margin: 0 auto;
    text-align: center;
  }

  #about {
    margin: 0 5px;

    p {
      width: 100%;
      font-size: 22px;
    }
  }

  #social-buttons {
    flex-direction: column;
    margin: 5px auto;
    width: 150px;

    li {
      margin: 5px auto;
    }

    a {
      width: 150px;
      height: 25px;
      font-family: $font-stack--reading;
      font-size: 20px;
      line-height: 25px;
    }
  }

}
